/.metadata/
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/cast_medium.txt
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/cast_small.txt
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/cast_medium.txt
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/cast_medium.txt
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/cast_small.txt
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/cast_tiny.txt
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/films_medium.txt
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/films_small.txt
AGarciaOGonzaloJARodriguez/src/fase1/ficheros/films_tiny.txt
